# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bddfd0f2d0ad8ef07c479c902e5034a1ddf7443c590e20463550d8ca153300af484378210d09d9a35957219da8e1c3869143bd96d60cc353e4c1ac40ae577bdf
  telegram:
    bot:
      token: BOT_TOKEN
      username: BOT_NAME

test:
  secret_key_base: 3642544bdd65e30d2c5be0c9fb24a44bf41563542042ac60466fedc12062f384a14eb83d0334ece5c61f2d2435b72277ae4a07bc61eac306c7c00a82374d9bbb
  telegram:
    bot:
      token: BOT_TOKEN
      username: BOT_NAME
# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
